/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* 10. reset class for unordered lists */

ul,
ul li,
ul ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

/* html and body styles */

html {
  font-family: 'Libre Baskerville', serif;
  font-family: 'Outfit', sans-serif;
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 2em;
  border: 3px solid #58aff1;
  box-shadow: 5px 0px #58aff1;
  position: absolute;
  left: 10%;
  right: 10%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
}

/* ////////////// top section ////////////// */
.task-placeholder-container {
  margin-bottom: 1em;
}
.task-placeholder-container label {
  padding-right: 2.8em;
  font-weight: bold;
}

.task-placeholder {
  border-color: #58aff1;
  padding-left: 0.3em;
}

.assignee-placeholder {
  border-color: #58aff1;
  padding-left: 0.3em;
}

.assignee-top-container {
  display: flex;
  border-bottom: #58aff1 2.5px solid;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.assignee-label {
  padding-right: 0.5em;
  font-weight: bold;
}

button {
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: black;
  padding: 0.5em;
  cursor: pointer;
  font-size: 1em;
  border-radius: 30px;
}

button:hover {
  background-color: #58aff1;
  color: white;
}

.icon:hover {
  color: #0b60aa;
}

.task-icon:hover {
  color: #fff;
}

.main-btns {
  padding-left: 1em;
  margin-left: 0.3em;
}

/* ////////////// search bar section ////////////// */

.fa-magnifying-glass {
  margin-right: 0.3em;
  padding-left: 0.5em;
  color: #58aff1;
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-xmark {
  color: #58aff1;
  padding-right: 0.5em;
  font-size: 2em;
  cursor: pointer;
  display: none;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0.2em;
  border-radius: 5px;
  border: 3px solid #58aff1;
  margin-bottom: 2em;
}

.right-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-bar {
  width: 100%;
  border: none;

  margin-left: 0.3em;
  font-size: 16px;
  outline: none;
}

.search-bar::-webkit-search-cancel-button {
  display: none;
}

/* ////////////// task section ////////////// */

.task-main-container {
  border: 2px solid #58aff1;
  padding: 0.5em 0 0 0.5em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.task-main-container:hover {
  background-color: #0b60aa;
  color: #f5f5f5;
}

/* ////////////// Some styling for the tasks scroll bar and the the task transition ////////////// */
.task-list-container {
  /* overflow: auto; */
  flex: 1;
  margin-top: 1em;
}

/* .task-list-container::-webkit-scrollbar {
  width: 12px;
}

.task-list-container::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.task-list-container::-webkit-scrollbar-thumb {
  background-color: #58aff1;
  border-radius: 10px;
  border: 3px solid #f5f5f5;
}

.task-list-container::-webkit-scrollbar-thumb:hover {
  background-color: #1e8ae8;
} */

/* ////////////// //////////////// ////////////// */

.task-container {
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
  margin-bottom: 1em;
  padding-left: 0.3em;
  flex: 1;
}

.task-label-text {
  border-bottom: 1px solid black;
  max-width: 3.1em;
}

.fa-trash-can {
  color: #58aff1;
  padding-right: 0.5em;
  font-size: 2em;
  cursor: pointer;
  padding-top: 0.4em;
}

.task-text {
  margin-top: 0.5em;
  font-size: 1rem;
  width: 100%;
  word-wrap: break-word;
  flex: 1;
}

.assignee-container {
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
  margin-bottom: 1em;
  padding-left: 0.3em;
  flex: 1;
}

.assignee-text {
  margin-top: 0.5em;
  font-size: 1rem;
  width: 100%;
  word-wrap: break-word;
  flex: 1;
}

.assignee-label-text {
  border-bottom: 1px solid black;
  max-width: 5.3em;
}

.fa-circle-check {
  color: #58aff1;
  padding-right: 0.5em;
  font-size: 2em;
  cursor: pointer;
  padding-top: 0.4em;
}

.check-and-delete-btns {
  display: flex;
  margin-left: auto;
  font-size: 0.7rem;
}

.check-btn {
  margin-right: 2em;
}

/* ////////////// statistics section ////////////// */

.statistics {
  display: flex;
  justify-content: flex-end;
  margin-right: 4em;
  color: #58aff1;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
}

.todo,
.done {
  margin-right: 4em;
  display: flex;
}

.done:hover {
  cursor: pointer;
  color: #0b60aa;
}

.todo-counter,
.done-counter {
  margin-left: 1em;
}

/* ////////////// deletion confirmation pop-up section ////////////// */
.popup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.5);
  padding: 1em;
  z-index: 9999;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}

.popup-header h2 {
  margin: 0;
}

.popup-footer {
  display: flex;
  justify-content: flex-end;
}

.cancel-btn,
.ok-btn {
  padding: 0.2em 0;
  margin-left: 2em;
  width: 4.7em;
}

/* //////////////// */

/* Page container */
.page-container {
  position: relative;
  overflow: auto;
  flex: 1;
  margin-top: 1em;
}

.page-container::-webkit-scrollbar {
  width: 12px;
}

.page-container::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.page-container::-webkit-scrollbar-thumb {
  background-color: #58aff1;
  border-radius: 10px;
  border: 3px solid #f5f5f5;
}

.page-container::-webkit-scrollbar-thumb:hover {
  background-color: #1e8ae8;
}

/* Apply opacity to page container */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

/* /////// horizontal view styles ////////// */

/* .horizontal-view .task-list-container {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  height: 30vh;
}

.show-one-task li:not(:first-child) {
  display: none;
}

.horizontal-view .navigation-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.horizontal-view .navigation-btns button {
  font-size: 2.2rem;
  font-weight: bold;
  color: #58aff1;
}

.horizontal-view .navigation-btns button:hover {
  background-color: transparent;
  color: #0b60aa;
} */

@media (max-width: 839px) {
  .task-placeholder-container {
    display: flex;
    flex-wrap: wrap;
  }

  .assignee-top-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .assignee-top-container div {
    width: 100%;
    margin-bottom: 10px;
  }

  .main-btns {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .statistics {
    display: flex;
    flex-direction: column;
  }
  .todo,
  .done {
    display: flex;
    flex-direction: row;
  }
  .todo-counter,
  .done-counter {
    white-space: nowrap;
  }
}
